.header {
    margin: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
    background-color: #d05040;
    justify-content: space-between;
}

.title {
    color: white;
}
