.todoListContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 0;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    background-color: #d05040;
}

.list {
    padding: 0px;
    width: 100%;
    margin: 0;
    background-color: gray;
    color: white;
}

.listItem {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}


.done {
    text-decoration: line-through rgba(246, 12, 12, 0.936);
}

#to-do-item {
    display: flex;
    justify-content: space-around;
}

